.convusUploadBtn {
    background-color: #FF7151;
    float: right;
    color: #fff;
}
.convusUploadWrap {
    width: 100%;
    background-color: #fff;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}
.convusUploadBtn i.fa {
    margin-right: 10px;
}