.convusPdfContainer {
    width: 100%;
    float: left;
    background-color: #fff;
    margin-top: 10px;
}
.convusBalnNav {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}
.convusBalnNav li a.active {
    border-bottom: 2px solid #FF7151;
}
.convusBalnNav a.active {
    color: #6b7280 !important;
    font-weight: 600;
}
.convusBalnNav a.nav-link {
    color: #a0a0a0;
}
.convusBalnNav a.nav-link:hover {
    border-bottom: 2px solid #FF7151;
    color: #6b7280 !important;
    font-weight: 600;
}