<div class="convusTblWrap">
    <div class="containter-fluid">
        <div class="convusPdfContainer">
            <nav>
                <ul class="nav nav-bar convusBalnNav">
                    <li><a class="nav-link active" routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Review</a></li>
                    <li><a class="nav-link" routerLinkActive="Active" routerLink="/bsar">Reports</a></li>
                </ul>
            </nav>
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>


