<div class="convusTblWrap">
    <div class="container-fluid">
        <div class="convusBalDetailWrap">
            <div class="">
                <h6>Balance statement</h6>
                    <div class="row">
                       <!-- <div class="col-md-3 col-lg-3 pull-left">
                            <label for="uname">Filing Date:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
                        </div>
                        <div class="col-md-3 col-lg-3 pull-left">
                            <label for="pwd">Statement Period:</label>
                            <input type="text" class="form-control" id="statP" placeholder="" name="stat" required>                      
                        </div>
                        <div class="col-md-3 col-lg-3 pull-left">
                            <label for="pwd">Statement Date:</label>
                            <input type="text" class="form-control" id="stateD" placeholder="-" name="stat" required>                      
                        </div>
                        <div class="col-md-3 col-lg-3 pull-left">
                            <label for="pwd">Case ID:</label>
                            <input type="text" class="form-control" id="caseId" placeholder="-" name="stat" required>                      
                        </div> -->
                        <div class="convusLabelWrap col-md-9 col-lg-9">
                            <label class="convusLabel"><span>Client Name :</span><span>Shinsei Bank</span></label> <span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Statement Date :</span><span>September 30, 2021</span> </label> <span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Report Date :</span><span>Q3 2021</span></label> <span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Bank Name :</span><span>Bank of America</span></label> <span></span>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <button type="submit" class="btn convusBtn pull-right convusMrgLft10">Submit</button>
                            <select class="col-md-6 form-control pull-right">
                                <option>Q/A Submitted</option>
                                <option>Release Lock</option>
                            </select>                            
                        </div>
                        <div class="convusLabelWrap col-md-9 col-lg-9">
                            <label class="convusLabel" ><span>Opening Balance :</span><span>42,356</span></label><span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Total Deposits :</span><span>12,98,356.00</span></label><span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Total Withdraws :</span><span>8,45,965.23</span></label><span class="convusSepartLine"></span>
                            <label class="convusLabel"><span>Closing Banlance :</span><span>4,52,390.77</span></label>
                        </div>                         
                    </div>                                       
                </div>
            </div>
        <app-pdftblcomp></app-pdftblcomp>        
    </div>
</div>

