<h6 mat-dialog-title>File Upload</h6>
<div mat-dialog-content>
    <div class="col-md-6 pull-left">
      <app-fileupload></app-fileupload>
      <div class="addRowWrap">
        <form [formGroup]= "workQForm">
            <div class="form-row">
                <div class="form-group">
                  <span>
                    <input type="text" formControlName="name" class="form-control" placeholder="Client name" />
                  </span>
                </div>
            </div>
          </form>
        </div>
    </div>
    <div class="col-md-6 pull-left progressbarWrap">
      <div class="container">
    <!-- Blue -->
    <div>Detecting Document</div>
    <div class="progress">      
      <div class="progress-bar progress0" [style.width]= "progressWidth" ></div>
    </div><br>
  
    <!-- Green -->
    <div>Extraction in Progress</div>
    <div class="progress">
      <div class="progress-bar bg-danger" [style.width]= "dangerWidth" ></div>
    </div><br>
    
  
    <!-- Turquoise -->
    <div>Data Classification</div>
    <div class="progress">
      <div class="progress-bar bg-info" [style.width]= "bgInfoWidth" ></div>
    </div><br>

    <div>Normalizing Transactions</div>
    <div class="progress">
      <div class="progress-bar bg-success" [style.width]= "successWidth" ></div>
    </div><br>
  
  </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <!-- ADD CLASS [class.mat-dialog-close] = "popupClose" -->
  <button class="btn convusUploadBtn" (click)="uploadClick()"><i class="fa fa-upload"></i>Upload</button>
</div>

